@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

 a.active {
 background-color: #1E88E5;
 color: white;
}
/* Add this CSS to your styles */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Black overlay with 60% opacity */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the button when hovering over the card */
.full:hover .overlay {
  opacity: 1;
}
